# Ignore Virtual environment
.idea/
.vscode/
venv/
output/
__pycache__/

*gmm_features_*
*.pyc
*~

# Curvelet feature output
curvelet_gmm_*.npy
curvelet_gmm_*_comp.csv

gmm_features_intensities.csv

# temp files
*.csv#
